/* Root CSS variables for colours.*/
:root {
  --dark-colour: #044887;
  --light-colour: #087deb;
  --bright-colour: #f0f8ff;
  --black-colour: #000000;
  --warning-colour: red;
  --confirm-colour: green;
}

/* CSS Properties for .*/
.weather-body {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

/* CSS Properties for header element.*/
header {
  width: 100%;
}

/* CSS Properties for the nav element code block.*/
nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 0 0 auto;
  width: 15%;
}

/* CSS Properties for search container code block.*/
.search-Container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-bottom: solid 2px var(--dark-colour);
}

/* CSS Properties for search button.*/
#submitBtn {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* CSS Properties for search history code block.*/
.search-history-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-bottom: solid 2px var(--dark-colour);
}

/* CSS Properties for current forecast box.*/
.current-forecast {
  background-color: var(--dark-colour);
  color: var(--bright-colour);
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 132%;
  padding: 10px;
  margin: 30px 0;
}

/* CSS Properties for futureFC class within .*/
.futureFC {
  display: flex;
}

/* CSS Properties for 5-day forecast box.*/
.future-forecast {
  background-color: var(--dark-colour);
  color: var(--bright-colour);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 0 0 275px;
  padding: 10px;
  margin-right: 54px;
}

/* CSS Properties for current weather condition icon.*/
#curIcon {
  width: 50px;
  height: 50px;
  visibility: hidden;
}

/* CSS Properties for 5-day forecast weather condition icons.*/
.futIcon1,
.futIcon2,
.futIcon3,
.futIcon4,
.futIcon5 {
  width: 50px;
  height: 50px;
  visibility: hidden;
}

/* CSS Properties for search history buttons.*/
#history {
  background-color: var(--dark-colour);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: var(--bright-colour);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none; 
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
  vertical-align: baseline;
  user-select: none;
  touch-action: manipulation;
  opacity: 0.95;
}

/* CSS Properties for search history buttons when hovered or focused.*/
#history:hover,
#history:focus {
  background-color: var(--light-colour);
  transition: 0.2s;
  opacity: 1.0;
}

/* CSS Properties for searched history container element where buttons are housed.*/
.history-contain {
  display: flex;
  flex-direction: column;
}

/*CSS Property for the clear-history class element.*/
#clear-history {
  background-color: var(--warning-colour);
  font-weight: bold;
  opacity: 0.8;
  transition: 0.2s;
  padding: 20px;
  width: 100%;
  border: 1px solid var(--warning-colour);
}

/*CSS Property for the clear-history class when mouse hovered.*/
#clear-history:hover {
  transition: 0.2s;
  opacity: 1;
}

/*CSS Property for the  The Modal (background). */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/*CSS Property for the Modal Content. */
.modal-content {
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin: auto;
  padding: 20px;
  border: 1px solid var(--warning-colour);
  width: 30%;
}

/*CSS Property for the confirm Yes button within Modal.*/
.confirmYesBtn {
  width: 100px;
  display: inline;
  background-color: var(--confirm-colour);
  font-weight: bold;
  color: white;
  opacity: 0.7;
  transition: 0.2s;
}

/*CSS Property for the confirm Yes button within Modal when mouse hovered.*/
.confirmYesBtn:hover {
  opacity: 1;
  transition: 0.2s;
  color: var(--black-colour);
}

/*CSS Property for the confirm No button within Modal.*/
.confirmNoBtn {
  width: 100px;
  display: inline;
  background-color: var(--warning-colour);
  font-weight: bold;
  color: white;
  opacity: 0.7;
  transition: 0.2s;
}

/*CSS Property for the confirm No button within Modal when mouse hovered.*/
.confirmNoBtn:hover {
  opacity: 1;
  transition: 0.2s;
  color: var(--black-colour);
}
